<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Supplier Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}" />

</head>
<body>
<h1>Supplier Form</h1>
<form action="#" th:action="@{/admin/supplier}" th:object="${supplierform}" method="post">
    <p>Name: <input type="text" th:field="*{suppliername}" /></p>
    <p>Phone No: <input type="text" th:field="*{phoneno}" /></p>
    <p>Location: <input type="text" th:field="*{location}" /></p>
    <p>GSTIN: <input type="text" th:field="*{gstin}" /></p>

    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>